.contenedor{
    max-width: 500px;
    margin: auto;
    background-color: #ddd;
    border-radius: 20px 10px 50px 30px ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px 10px 50px 30px;
    border: 10px inset #0b4df3;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fila{
    margin: 15px 0;
}
select{
    font-size: 18px;
    border: none;
    padding: 5px;
    border-radius: 28px;
}
.resultado{
    width: 100%;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #aec5ff;
    color: #000;
    padding: 10px 0;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}